page-gui-usuario {	
}
.rankingCuerpo{
	background-image: url("../../assets/imgs/background_item.png");
	background-size: cover;
}
.item-ranking{
	background-image: url("../../assets/imgs/background_item.png");
	background-size: cover;	
}
