<!--
  Generated template for the GuiUsuarioPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar hideBackButton>
  	<button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Ranking de ReciclArtistas</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="rankingCuerpo">
	<ion-grid>
		<ion-row style="display:inline-block;">
			<ion-col col-12 col-md-6 col-lg-4 col-xl-3>				
				<ion-list inset>					
					    <ion-item class="item-ranking" *ngFor="let r of ranking">
					    	<ion-item class="item-ranking" *ngIf="r.puesto == 1" start>
					    		<ion-row>
					    			<ion-col col-12 col-md-6 col-lg-4 col-xl-3>
						    			<img height="48" width="48" src="../../assets/icon/1st_icono.png"/>
						    		</ion-col>
						    		<ion-col col-12 col-md-6 col-lg-4 col-xl-3>
							      		<h2>{{r.nick}}</h2>
							      		<p>{{r.puntajetotal}} puntos</p>
						      		</ion-col>
					      		</ion-row>
					      	</ion-item>
					      	<ion-item class="item-ranking" *ngIf="r.puesto == 2">
					    		<ion-row>
					    			<ion-col col-12 col-md-6 col-lg-4 col-xl-3>
						    			<img height="48" width="48" src="../../assets/icon/2nd_icono.png"/>
						    		</ion-col>
						    		<ion-col col-12 col-md-6 col-lg-4 col-xl-3>
							      		<h2>{{r.nick}}</h2>
							      		<p>{{r.puntajetotal}} puntos</p>
						      		</ion-col>
					      		</ion-row>
					      	</ion-item>
					      	<ion-item class="item-ranking" *ngIf="r.puesto == 3">
					    		<ion-row>
					    			<ion-col col-12 col-md-6 col-lg-4 col-xl-3>
						    			<img height="48" width="48" src="../../assets/icon/3rd_icono.png"/>
						    		</ion-col>
						    		<ion-col col-12 col-md-6 col-lg-4 col-xl-3>
							      		<h2>{{r.nick}}</h2>
							      		<p>{{r.puntajetotal}} puntos</p>
						      		</ion-col>
					      		</ion-row>
					      	</ion-item>
					      	<ion-item class="item-ranking" *ngIf="r.puesto >= 4">
					    		<ion-row>
					    			<ion-col col-12 col-md-6 col-lg-4 col-xl-3>
						    			<ion-badge>{{r.puesto}}</ion-badge>
						    		</ion-col>
						    		<ion-col col-12 col-md-6 col-lg-4 col-xl-3>
							      		<h2>{{r.nick}}</h2>
							      		<p>{{r.puntajetotal}} puntos</p>
						      		</ion-col>
					      		</ion-row>
					      	</ion-item>
					    </ion-item>					
			  	</ion-list>			  	
		  	</ion-col>		  				
		</ion-row>
	</ion-grid>	
</ion-content>
